.navLink {
  gap: 24px;
  /* justify-content: center !important; */
  width: 100%;
  /* padding-left: 20px !important; */
}

.navLink a {
  font-size: 14px;
}

.logo {
  cursor: pointer;
}

.last {
  justify-content: flex-end;
  white-space: nowrap;
}

.customIcon {
  display: flex;
}

.customIcon svg {
  color: var(--theme-white);
  font-size: 20px;
}

.dropdownBtn button {
  color: var(--theme-white) !important;
  font-size: 14px;
  font-family: var(--sans-regular) !important;
}

.soon {
  background: var(--bgcolor-disabled) !important;
  padding: 0px 5px;
  font-size: 12px;
  display: inline-block;
  margin-left: 3px;
  color: var(--color-disabled) !important;
}

.navLink .disabledLink {
  color: var(--color-disabled) !important;
}

.uploadButton button {
  border-radius: 30px !important;
  width: 200px;
  height: 50px;
}

.transparent span {
  background-color: #978036 !important;
  color: #c8af66 !important;
}

.navBarCustom {
  /* position: relative; */
  display: flex;
  width: 100%;
  flex-direction: row-reverse;
}

.uploadButtonTablet {
  display: none;
}

.collapseButton {
  border: none !important;
  display: flex;
  justify-content: center;
  align-items: center;
}

.collapseIcon {
  height: 10px;
  width: 23px;
  border-top: 1px solid #FBFBFB;
  border-bottom: 1px solid #FBFBFB;
}

@media screen and (max-width: 991px) {
  .navBarCustom { 
    position: inherit;
  }
  .navLink {
    gap: 3px;
    padding: 7px 16px !important;
  }

  .last {
    justify-content: flex-start;
  }

  .navBarCustom {
    display: flex;
    width: auto !important;
    flex-direction: row !important;
    gap: 20px;
  }

  /* .navbarCollapse {
    position: absolute;
    top: 50px;
    left: 15px;
    border-radius: 15px;
    width: 145px;
    background-color: #00000010 !important;
    -webkit-backdrop-filter: blur(5px);
    backdrop-filter: blur(5px);
  } */

  .navbarCollapse {
    position: absolute;
    left: 0;
    top: 50px;
    right: 0;
    height: calc(100vh - 50px);
    overflow: auto;
    background-color: rgba(27, 27, 27, 1) !important;
    padding: 41px 35px !important;
  }
  .navLink a {
    font-size: 20px;
    line-height: 150%;
    font-weight: 100;
    margin-bottom: 15px;
  }

  .navDropdown>div {
    display: block;
    left: 0 !important;
    position: inherit !important;
    padding: 0;
  }

  .navDropdown>div>a {
    font-size: 16px !important;
    line-height: 150%;
    color: #A6A6A6 !important;
    margin-bottom: 15px;
    text-transform: uppercase;
  }
  .customIcon, .uploadButton {
    display: none !important;
  }
  .uploadButtonTablet {
    display: block;
  }

  .uploadButtonTablet button {
    border-radius: 30px !important;
    width: 75px;
    height: 25px;
    display: flex;
    justify-content: center;
    align-items: center;
    background: rgba(248, 248, 248, 0.05) !important;
    color: white !important;
    font-size: 10px !important;
    font-weight: 500 !important;
    box-shadow: none;
    padding: 0 !important;
  }
  .collapseC>nav {
    background-color: rgba(27, 27, 27, 1) !important;
  }
  .collapseC .uploadButtonTablet button {
    background: #F8F8F8 !important;
    color: #252525 !important;
  }
}

@media screen and (max-width: 576px) {
  .navbarCollapse {
    padding: 21px 35px !important;
  }
  .soon {
    height: 20px;
    line-height: 20px;
  }
}