.button {
    border-radius: 0 !important;
    padding: 0.89rem 2rem !important;
    font-weight: 500 !important;
    font-size: 14px !important;
    line-height: 17.5px !important;
    letter-spacing: 0.1px;
    border-color: transparent !important;
    background-color: transparent !important;
    font-family: var(--sans-medium) !important;
  }
  
  .button:hover,
  .button:focus {
    opacity: 0.8 !important;
    outline: 0 !important;
  }
  
  .primary {
    background: var(--theme-white) !important;
    box-shadow: 0px 4px 31px rgba(0, 0, 0, 0.15);
    color: var(--theme-black) !important;
  }
  
  .outline{
    background: var(--theme-black-light) !important;
border: 1.2px solid var(--theme-white) !important;
color: var(--theme-white) !important;
padding: 8px 16px !important;
  }
 
  