.text {
  font-weight: 400;
  font-size: 14px;
  line-height: 150%;
  letter-spacing: 0.2px;
  color: var(--theme-white-light);
  font-family: var(--sans-regular);
  margin-bottom: 10px;
}

.white {
  color: var(--color-white) !important;
}