/* form */

.formGroup {
  border: 1px solid var(--border-color);
  border-radius: 4px;
  background: var(--theme-black);
}

.formGroup label {
  color: var(--theme-white);
  padding-left: 0.75rem;
  padding-top: 0.5rem;
  font-size: 12px;
  text-transform: uppercase;
  font-weight: 500;
  font-family: var(--sans-regular);
}

.formGroup input,
.formGroup textarea {
  background: none;
  border: 0;
  font-size: 14px !important;
  font-family: var(--sans-regular);
  padding: 0 0.75rem 0.375rem 0.75rem !important;
}

.formGroup textarea {
  padding: 0 0.75rem 1.7rem 0.75rem !important;
}

.formGroup input:focus,
.formGroup textarea:focus {
  box-shadow: none;
  background: none;
}

.formGroup input:-internal-autofill-selected {
  background-color: unset !important;
}

.btnDiv button {
  flex: 1;
}

.btnDiv p {
  margin-bottom: 0;
}