/* events */
.eventWrapper .image img{
    width: 100%;
}
.eventWrapper .content{
    padding: 10px 0 0;
    border: 2px solid var(--border-color);
}
.eventWrapper .content h3{
color: var(--theme-white);
font-size: 20px;
}

.eventWrapper span{
color: var(--theme-white);
font-size: 12px;
}
.eventWrapper svg{
    margin-right: 5px;
}



.eventWrapper .title{
    display: block;
    font-size: 12px;
    text-transform: uppercase;
    color: var(--theme-white-light) !important;
}

.entryDiv .entry{
    font-size: 26px;
    font-weight: 500;
}