.heroSection{
    padding: 40px 0
}
.heroHeading{
    position: relative;
}
.heroHeading h1{
    font-size: 80px;
    line-height: 90px;
}
.heroHeading .spanHead{
    color: var(--theme-white-light);
    position: absolute;
    right: 2%;
    top: 105px;
    font-size: 14px;
    opacity: 0.8;
}
.spanHead::before{
    content: "";
    position: absolute;
    border-left: 2px solid var(--border-color);
    height: 100%;
    left: -20px;
    opacity: 0.8;
}
.heroIcons img{
    margin-right: 10px;
}
.heroIcons span{
    color: var(--theme-white);
    font-size: 14px;
    font-family: var(--sans-medium);
}
.countWrapper{
    border-right: 2px solid var(--border-color);
}
.customRow .customCol:last-child .countWrapper{
    border-right: 0;
}

.countWrapper p{
    font-size: 14px;
}
.sliderTeam{
    position: relative;
}
.slider{
    padding-left: 140px;
    position: relative;
}
.bottomSection{
    padding: 80px 0;
    position: relative;
}
.bottomSection::before{
    content: "";
    background-image: url(/public/img/noize-bg.svg);
    position: absolute;
    right: 0;
    width: 100%;
    height: 100%;
    top: 0;
    background-size: cover;
    BACKGROUND-REPEAT: NO-REPEAT;
}

.bottomSection  h3{
    font-weight: 500;
    font-size: 24px;
    color: var(--theme-white);
}
.paddingRight{
    padding-right: 150px;
}
.paddingAll{
    padding-left: 40px;
    padding-right: 40px;
}
.paddingR{
    padding-right: 100px;
}
.bgImg{
    background-image: url(/public//img/bgImg.png);
    padding: 100px 0;
    background-repeat: no-repeat;
    background-size: cover;
    height: 100%;
    width: 100%;
    position: relative;
}
.largeLogoDiv{
   border-left: 2px solid var(--border-color);
}
.connectionSection{
    background-color: var(--theme-black);
    padding: 40px 0 80px;
}
.contactSection{
    padding: 100px 0;
}


@media screen and (max-width:1349px) {
    .heroHeading .spanHead{
        position: unset;
    }
    .spanHead::before{
        display: none;
    }
    .heroIcons{
        margin-top: 20px;
    }
}
@media screen and (max-width:1100px) {
    .slider{
        padding-left: 60px;
    }
    .paddingRight{
        padding-right: 30px;
    }
}
@media screen and (max-width:768px) {
    .heroHeading h1{
        font-size: 40px !important;
        line-height: 55px !important;
    }
    .bottomSection{
        padding: 40px 0;
    }
    .largeLogoDiv{
        border-left: 0;
    }
    .paddingR{
        padding-right: 20px;
    }
    .paddingAll{
        padding-left: 20px;
        padding-right: 20px;
    }
    .connectionSection{
        padding: 40px 0 40px;
    }
    .contactSection{
        padding: 50px 0;
    }
}
@media screen and (max-width:600px) {
    .slider{
        padding-left: 10px;
    }
}
@media screen and (max-width:576px) {
    .countWrapper{
        border-right: 0;
    }
    .bgImg{
        padding: 50px 0;
    }
    .heroHeading h1{
        font-size: 30px !important;
        line-height: 45px !important;
    }
}