.CustomContainer {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(/public/img/Creativebackground.png);
  background-size: cover;
  background-position: center center;
  position: relative;
  top: -70px;
}

.heroHeading {
  position: relative;
  margin-top: 29vh;
  padding: 0 15px;
}

.heroHeading h1 {
  font-size: 64px;
  line-height: 90px;
  font-family: var(--manrope-regular) !important;
  letter-spacing: 1px;
  margin-bottom: 3.8rem !important;
}

.heroHeading .spanHead {
  position: absolute;
  padding-left: 10px;
  right: 14%;
  top: 105px;
  font-size: 14px;
  font-family: var(--sans-regular);
  font-weight: 400;
  line-height: 21px;
}

.spanHead::before {
  content: "";
  position: absolute;
  border-left: 2px solid white;
  height: 100%;
  left: -20px;
  opacity: 0.8;
}

.heroIcons a {
  background-color: var(--theme-white) !important;
  color: black !important;
  border: none;
  width: 212px;
  height: 48px;
}

.heroIcons img {
  margin-right: 10px;
  opacity: 0.5;
}

.heroIcons span {
  color: var(--theme-white);
  font-size: 14px;
  font-family: var(--sans-medium);
  line-height: 18px;
}

.herosectionImg {
  position: absolute;
  bottom: 30px;
  left: 49.9%;
  cursor: pointer;
}

@media screen and (max-width: 1349px) {
  .heroHeading .spanHead {
    position: unset;
  }

  .spanHead::before {
    display: none;
  }

  .heroIcons {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .heroHeading h1 {
    font-size: 40px !important;
    line-height: 55px !important;
  }
}

@media screen and (max-width: 576px) {
  .heroHeading h1 {
    font-size: 30px !important;
    line-height: 45px !important;
  }
}
