.CustomContainer {
  height: 100vh;
  background-repeat: no-repeat;
  background-image: url(/public/img/Creativebackground.png);
  background-size: cover;
  background-position: center;
  /* background-size: 100%; */
  position: relative;
  top: -70px;

}


.heroHeading {
  position: relative;
  /* margin-top: 18.3rem; */
  margin-top: calc(50vh - 130px) !important;
  padding: 0 15px;
}

.heroHeading h1, .heroHeading h1 span {
  font-size: 64px;
  line-height: 78px;
  font-family: var(--manrope-bold) !important;
  letter-spacing: .2px;
  margin-bottom: 3.4rem;
  white-space: nowrap;
}

.headingWithDesc {
  display: flex;
  align-items: center;
  margin-bottom: 50px;
}

.spanHeadUp {
  padding-left: 20px;
  margin-left: 20px;
  position: relative;
}
.spanHeadUp::before {
  content: "";
  position: absolute;
  border-left: 1.2px solid white;
  /* height: 100%; */
  height: 86%;
  top: 5px;
  left: 0px;
  opacity: 0.8;
}

.heroHeading .spanHead {
  position: absolute;
  padding-left: 10px;
  right: 13%;
  /* top: 80px; */
  top: 89px;
  font-size: 14px;
  font-family: var(--sans-regular);
  font-weight: 400;
  /* line-height: 21px; */
  line-height: 19px;
}

.spanHead::before {
  content: "";
  position: absolute;
  border-left: 1.2px solid white;
  /* height: 100%; */
  height: 86%;
  top: 5px;
  left: -20px;
  opacity: 0.8;
}

.heroIcons {
  padding: 0 15px;
  display: flex;
}

.heroIcons a {
  background-color: var(--theme-white) !important;
  color: black !important;
  border: none;
  width: 212px;
  height: 48px;
}

.heroIcons img {
  margin-right: 10px;
  opacity: 0.5;
}

.heroIcons span {
  display: flex;
}

.heroIcons span h6 {
  color: var(--theme-white);
  font-size: 14px;
  font-family: var(--sans-medium);
  line-height: 18px;
  margin: 17px 0px 0 0;
}

.herosectionImg {
  position: absolute;
  bottom: 30px;
  left: calc(50% - 9px);
  /* cursor: pointer; */
}

.exploreBtnTablet, .spanHeadUpTablet {
  display: none !important;
}

@media screen and (max-width:1330px) {
  .heroHeading h1, .heroHeading h1 span {
    font-size: 56px
  }

  .heroHeading .spanHead {
    right: 19%;
  }

  .heroIcons {
    margin-top: 20px;
  }

  .heroHeading {
    position: relative;
    margin-top: 15.3rem;
    padding: 0 15px;
  }
}

@media screen and (max-width:1150px) {
  .heroHeading {
    margin-top: 13rem;
  }

  .heroHeading h1, .heroHeading h1 span {
    font-size: 50px;
    line-height: 60px;
    margin-bottom: 10px;
  }

  .heroHeading .spanHead {
    position: unset;
    padding-left: 0;
  }

  .spanHead::before {
    height: 0%;
    position: unset;
    border: none;
    left: 0
  }

  .heroIcons {
    margin-top: 50px;
  }
}

@media screen and (max-width:992px) {
  .rowTablet {
    display: flex;
    flex-direction: column;
    align-items: center;
  }
  .CustomContainer {
    top: -50px;
  }
  .heroHeading {
    /* position: absolute; */
    width: min-content;
    margin: calc(30vh - 163px / 2) 0 0 !important;
    padding: 0;
    /* left: calc(50% - 487px / 2);
    top: calc(30vh - 163px / 2); */
  }
  .heroHeading h1, .heroHeading h1>span:first-child {
    font-size: 36px;
    line-height: 43.2px;
    margin: 0;
    letter-spacing: -0.02em;
    color: #FFE69D;
    width: min-content;
  }
  .heroHeading h1>span:not(:first-child) {
    display: block;
    width: min-content;
    font-size: 64px;
    line-height: 120%;
    margin: 0;
    letter-spacing: -0.03em;
    color: white;
  }
  .spanHeadUpTablet {
    display: block !important;
    width: min-content;
    white-space: nowrap;
    margin: calc(-30vh - 163px / 2 + 75vh - 72px / 2) 0 0;
    font-weight: 400;
    font-size: 16px;
    line-height: 150%;
  }
  .headingWithDesc {
    margin-bottom: 0;
  }

  .exploreBtnTablet {
    display: block !important;
    /* position: absolute; */
    bottom: 10vh;
    width: 200px;
    height: 51px;
    background: rgba(248, 248, 248, 0.1) !important;
    color: white !important;
    /* left: calc(50% - 100px);
    top: calc(77vh + 72px / 2 + 4vh); */
    box-shadow: none;
    font-size: 16px !important;
    margin: 3vh 0 0;
  }
  .spanHeadUp {
    display: none;
  }
  .herosectionImg, .heroIcons {
    display: none !important;
  }
}

@media screen and (max-width:576px) {
  .heroHeading {
    margin-top: calc(30vh - 114px / 2) !important;
  }
  .heroHeading h1, .heroHeading h1>span:first-child {
    font-size: 20px;
    line-height: 24px;
  }
  .heroHeading h1>span:not(:first-child) {
    font-size: 42px;
    line-height: 50px;
    margin: 8px 0;
  }
  .exploreBtnTablet {
    width: 165px;
    height: 42px;
    padding: 0 !important;
  }
  .spanHeadUpTablet {
    margin-top: calc(-30vh - 114px / 2 + 75vh - 72px / 2);
  }
}