.creavtiveEventBg>div {
  height: 100vh;
  background-repeat: no-repeat;
  background-size: cover;
}

.offCanvasHeader {
  position: absolute;
  bottom: 0;
  left: 50%;
}

.offCanvasHeader button {
  cursor: pointer;
  background: transparent;
  margin-left: -25px;
}

.findingCreativeEvent {
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 11px;
  word-spacing: 20px;
}

.findingCreativeEventH1 {
  width: 55%;
  font-size: 50px;
  font-weight: 700;
  letter-spacing: 10px;
  word-spacing: 17px;
  border-right: 1px solid black;
}

.findingCreativeEventH6 {
  width: 45%;
  padding: 0 0 0 25px;
}

.heroHeading {
  position: relative;
  margin-top: 30vh;
  margin-bottom: 3.6rem;
}

.heroHeading h1 {
  font-size: 65px;
  line-height: 90px;
  font-family: var(--manrope-regular) !important;
  letter-spacing: 1px;
}

.heroHeading .spanHead {
  position: absolute;
  right: 16%;
  top: 105px;
  font-size: 14px;
  font-family: var(--sans-regular);
  font-weight: 400;
  line-height: 21px;
}

.spanHead::before {
  content: "";
  position: absolute;
  border-left: 2px solid white;
  height: 100%;
  left: -20px;
  opacity: 0.8;
}

.heroIcons a {
  background-color: var(--theme-white);
  color: black !important;
  border: none;
}

.heroIcons img {
  margin-right: 10px;
  opacity: 0.5;
}

.heroIcons span {
  color: var(--theme-white);
  font-size: 14px;
  font-family: var(--sans-medium);
}

@media screen and (max-width: 1349px) {
  .heroHeading .spanHead {
    position: unset;
  }

  .spanHead::before {
    display: none;
  }

  .heroIcons {
    margin-top: 20px;
  }
}

@media screen and (max-width: 768px) {
  .heroHeading h1 {
    font-size: 40px !important;
    line-height: 55px !important;
  }
}

@media screen and (max-width: 576px) {
  .heroHeading h1 {
    font-size: 30px !important;
    line-height: 45px !important;
  }
}

.heroSliderBackdrop {
  opacity: 0 !important;
}