.navLink {
  gap: 20px;
  /* justify-content: center !important; */
  width: 100%;
  padding-left: 20px !important;
}
.navLink a {
  color: var(--theme-white) !important;
}

.navLink a {
  font-size: 14px;
}
.last {
  justify-content: flex-end;
  white-space: nowrap;
}
.customIcon svg {
  color: var(--theme-white);
  font-size: 20px;
}
.dropdownBtn button {
  color: var(--theme-white) !important;
  font-size: 14px;
}
.soon {
  background: var(--theme-black-light);
  padding: 0px 5px;
  font-size: 12px;
  display: inline-block;
  margin-left: 5px;
  color: var(--theme-white-light);
}
.navLink .disabledLink {
  color: var(--theme-white-light) !important;
}
.uploadButton button {
  border-radius: 30px !important;
}
.spacer {
  height: 70px;
}
@media screen and (max-width: 991px) {
  .navLink {
    gap: 10px;
  }
  .last {
    justify-content: flex-start;
  }
}
